<!-- VISTA: Maintenance/Customer.cshtml -->
@model Multigroup.Portal.Models.Collection.AssignPaymentPreferenceFiltersVm
<div class="filter-container">
</div>

<!-- FIN TITULO-->
<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-Customer"></i>
                    <span class="caption-subject bold uppercase">Gestión de Cobradores</span>
                </div>
                <div class="actions">
                    <div class="tooltipAai btn-group" id="idTooltipAai">
                        <div class="actions">
                            <a class="btn btn-default bootstro" id="btnAssign" disabled="disabled" onclick="loadModal()">
                                Asignar Cobrador
                            </a>
                        </div>
                    </div>
                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-actions top">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Cobrador:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.SelectedCollector, Model.ListCollector, new { @size = "2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Telemarketer:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.SelectedUser, Model.ListUser, new { @size = "2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Cliente:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.SelectedCustomers, Model.ListCustomers, new { @size = "2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Zona:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.SelectedZone, Model.ListZone, new { @size = "2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Visita Desde:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-inline date-picker" id="txtDateFrom" placeholder="dd/mm/aaaa" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Visita Hasta:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-inline date-picker" id="txtDateTo" placeholder="dd/mm/aaaa" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Pago Desde:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-inline date-picker" id="txtDatePaymentFrom" placeholder="dd/mm/aaaa" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Pago Hasta:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-inline date-picker" id="txtDatePaymentTo" placeholder="dd/mm/aaaa" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Asignado:</label>
                                <div class="col-md-8" id="sandbox-container">
                                    @*<input type="checkbox" id="changePassword"/>*@
                                    @Html.CheckBoxFor(model => model.Assigned, new { @id = "IsAssign" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Rendido:</label>
                                <div class="col-md-8" id="sandbox-container">
                                    @*<input type="checkbox" id="changePassword"/>*@
                                    @Html.CheckBoxFor(model => model.Surrendered, new { @id = "IsSurrender" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Registrado:</label>
                                <div class="col-md-8" id="sandbox-container">
                                    @*<input type="checkbox" id="changePassword"/>*@
                                    @Html.CheckBoxFor(model => model.Register, new { @id = "IsRegister" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button id="btnBuscar" class="btn btn-default">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="acciones">

                    </div>
                </div>
            </div>
        </div>
        <div class="portlet portlet-sortable-empty">
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="modalAssign">

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#IsSurrender').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey',
            increaseArea: '20%' // optional
        });

        $('#IsRegister').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey',
            increaseArea: '20%' // optional
        });

        $('#IsAssign').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey',
            increaseArea: '20%' // optional
        });

        $(".date-picker").datepicker();
        $('select').multiselect({
            includeSelectAllOption: false,
            enableFiltering: true
        });

        $('#btnBuscar').click(function (event) {
            var params = new Object;
            params.Telemarketer = $('#SelectedUser').val();
            params.Zone = $('#SelectedZone').val();
            params.Collector = $('#SelectedCollector').val();
            params.Customer = $('#SelectedCustomers').val();
            if ($('#IsAssign').is(':checked') == true) {
                params.IsAssign = '1';
            } else {
                params.IsAssign = '0';
            }
            if ($('#IsRegister').is(':checked') == true) {
                params.IsRegister = '1';
            } else {
                params.IsRegister = '0';
            }
            if ($('#IsSurrender').is(':checked') == true) {
                params.IsSurrender = '1';
            } else {
                params.IsSurrender = '0';
            }
            params.DateVisitFrom = $('#txtDateFrom').val();
            params.DateVisitTo = $('#txtDateTo').val();
            params.DatePaymentFrom = $('#txtDatePaymentFrom').val();
            params.DatePaymentTo = $('#txtDatePaymentTo').val();
            CallBackGet(function (data) {
                $("#acciones").html(data);
            }, "/Collector/IndexManagementTable", params)
        });

    });
</script>

