@model Multigroup.Portal.Models.Collection.CollectorSurrenderVm
<div class="filter-container">
</div>

<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-laptop"></i>
                    <span class="caption-subject bold uppercase">Rendición de Cobranzas</span>

                </div>
                <div class="actions">
                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
                    </a>
                </div>
            </div>
            @using (Ajax.BeginForm("SurrenderSummaryCreate", "Collector", new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "OnStart",
                OnComplete = "OnComplete",
                OnFailure = "FailMessage",
                OnSuccess = "SuccessReturn"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">Fecha Pago:</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.SurrenderDate, new { @class = "form-control form-control-inline date-picker", @type = "text", @placeholder = "dd/mm/aaaa" })
                                    @Html.ValidationMessageFor(model => model.SurrenderDate, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4" id="PMDiv">
                            <div class="form-group">
                                <label class="control-label col-md-3">Forma de Pago:</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.ddlPaymentMethods.SelectedItem, Model.ddlPaymentMethods.ListItems, new { @id = "ddlPaymentMethods", @size = 2 })
                                    <a class="btn btn-default" data-toggle="modal" data-target="#paymentMethodModal" id="btnPM">Más</a>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4" style="display: none" id="PM2Div">
                            <div class="form-group">
                                <label class="control-label col-md-3">Forma de Pago:</label>
                                <div class="col-md-9">
                                    <a class="btn btn-default" data-toggle="modal" data-target="#paymentMethodModal" id="btnPM2">Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-12">Comentario:</label>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Commentary, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <!-- BEGIN Portlet PORTLET-->
                            <div class="portlet box blue-dark">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-calculator"></i>Cobros
                                    </div>
                                    <div class="actions">
                                        <a id="btnUpdateInstallments" class="btn default" data-toggle="modal" data-target="#installmentsUpdateModal" disabled="disabled">
                                            <i class="fa fa-plus"></i> Editar
                                        </a>
                                        <a id="btnRemoveInstallment" class="btn default" disabled="disabled">
                                            <i class="fa fa-remove"></i> Eliminar
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="installmentsTableDiv" style="position: relative; overflow: hidden; width: auto; min-height: 200px;">

                                    </div>
                                </div>
                            </div>
                            <!-- END Portlet PORTLET-->
                        </div>
                        <div class="col-md-6">
                            <!-- BEGIN Portlet PORTLET-->
                            <div class="portlet box blue-dark">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-calculator"></i>Recibos
                                    </div>
                                    <div class="actions">
                                        <a id="btnAddReceip" class="btn default" data-toggle="modal" data-target="#receipModal">
                                            <i class="fa fa-plus"></i> Añadir
                                        </a>
                                        <a id="btnRemoveReceip" class="btn default" disabled="disabled">
                                            <i class="fa fa-remove"></i> Eliminar
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="receipsTableDiv" style="position: relative; overflow: hidden; width: auto; min-height: 200px;">

                                    </div>
                                </div>
                            </div>
                            <!-- END Portlet PORTLET-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">Total:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @type = "number", @readonly = "readonly " })
                                    @Html.ValidationMessageFor(model => model.Amount, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">Total Recibos:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.AmountReceipt, new { @class = "form-control", @type = "number", @readonly = "readonly " })
                                    @Html.ValidationMessageFor(model => model.AmountReceipt, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-5">
                                <button class="btn btn-primary" id="btnProcess">Guardar</button>
                                <button type="button" class="btn default" id="btnCancel" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>                
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var PromoAplicada;
    $(document).ready(function () {

        $('select').multiselect();

        $("#SurrenderDate").datepicker();

        $("#ddlPartner").on('change', function () {
            var total = $('#Amount').val("0");
            var param = new Object;
            param.PartnerId = $('#ddlPartner').val();
            CallBackGet(function (data) {
                $("#promissoriesTableDiv").html(data);
            }, "/PromissorySurrender/PromissoriesByPartner", param)
        });


        CallBackGet(function (data) {
            $("#installmentsTableDiv").html(data);
        }, "/Collector/SurrenderSummaryTable");

    });

    $('#btnPM2').click(function (event) {
        var total = $('#Amount').val();
        $('#AmountPayment').val(total);
    });

    $('#btnPM').click(function (event) {
        var total = $('#Amount').val();
        $('#AmountPayment').val(total);
    });

    function SuccessReturn() {
        $("#btnProcess").attr("disabled", "disabled");
        CallBackGet(function (data) {
            $("#dashboard").html(data);
        }, "/Collector/IndexSurrender", null)
        SuccessMessage();
    }

    $('#btnCancel').click(function (event) {
        CallBackGet(function (data) {
            $("#dashboard").html(data);
        }, "/Collector/IndexSurrender", null)
    });

</script>
