@model Multigroup.Portal.Models.Administration.SpendingVm
<div class="filter-container">
</div>

<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-laptop"></i>
                    <span class="caption-subject bold uppercase">Editar Gasto</span>
                    <br><br>
                    <span class="caption-subject bold align-reverse"> Caja Usuario: </span>
                    @Html.DisplayFor(model => model.Saving)
                </div>
                <div class="actions">
                    <a class="btn btn-default" data-toggle="modal" data-target="#PurchaseRequestModal">Cargar desde Solicitud de Compra</a>
                </div>
                <div class="actions">
                    <a class="btn btn-default" data-toggle="modal" data-target="#ScheduledExpenseModal">Cargar desde Gasto Programado</a>
                </div>
                <div class="actions">
                    <a class="btn btn-default" data-toggle="modal" data-target="#ExpenseAuthorizationModal">Cargar desde Autorización de Compra</a>
                </div>
                <div class="actions">
                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="actions">
                <a class="btn btn-default" id="adjuntar" data-toggle="modal" data-target="#adjuntarModal">
                    <i class="fa fa-paperclip"></i> <span id="attachText"> Adjuntar </span>
                </a>
            </div>
            @using (Ajax.BeginForm("Edit", "Spending", new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "OnStart",
                OnComplete = "OnComplete",
                OnFailure = "FailMessage",
                OnSuccess = "SuccessMessage",
                UpdateTargetId = "dashboard"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SpendingId)
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-6" style="display: none">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Imputado</label>
                                <div class="col-md-9">
                                    @Html.CheckBoxFor(model => model.chkImputed)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">Fecha Pago:</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.ExecutionDate, new { @class = "form-control form-control-inline date-picker", @type = "text", @placeholder = "dd/mm/aaaa" })
                                    @Html.ValidationMessageFor(model => model.ExecutionDate, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Nro Comprobante:</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Receipt, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Receipt, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <a class="btn btn-default" data-toggle="modal" data-target="#invoiceModal" id="btnInvoice">Factura</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">Creador:</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.ddlUser.SelectedItem, Model.ddlUser.ListItems, new { @id = "ddlUser", @size = 2, @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">Proveedor:</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.ddlProvider.SelectedItem, Model.ddlProvider.ListItems, new { @id = "ddlProvider", @size = 2 })
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">Descripción:</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-3">Forma de Pago:</label>
                                <div class="col-md-9">
                                    <a class="btn btn-default" data-toggle="modal" data-target="#paymentMethodModal" id="btnPM">Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-12">Comentario:</label>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Commentary, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--/span-->
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <!-- BEGIN Portlet PORTLET-->
                            <div class="portlet box blue-dark">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-calculator"></i>Conceptos
                                    </div>
                                    <div class="actions">
                                        <a class="btn default" id="btnAddArticles" data-toggle="modal" data-target="#articlesModal">
                                            <i class="fa fa-plus"></i> Añadir
                                        </a>
                                        <a id="btnUpdateArticles" class="btn default" data-toggle="modal" data-target="#articlesUpdateModal" disabled="disabled">
                                            <i class="fa fa-plus"></i> Editar
                                        </a>
                                        <a id="btnRemoveArticle" class="btn default" disabled="disabled">
                                            <i class="fa fa-remove"></i> Eliminar
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="articlesTableDiv" style="position: relative; overflow: hidden; width: auto; min-height: 200px;">

                                    </div>
                                </div>
                            </div>
                            <!-- END Portlet PORTLET-->
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">Total:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @type = "number", @readonly = "readonly " })
                                    @Html.ValidationMessageFor(model => model.Amount, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="display: none" id="ScheduledExpenseDiv">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Gasto Programado</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.ScheduledExpenseId, new { @class = "form-control", @id = "ScheduledExpenseId", @readonly = "readonly " })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="display: none" id="PurchaseRequestDiv">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Gasto Programado</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PurchaseRequestId, new { @class = "form-control", @id = "PurchaseRequestId", @readonly = "readonly " })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="display: none" id="ExpenseAuthorizationDiv">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Gasto Programado</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.ExpenseAuthorizationId, new { @class = "form-control", @id = "ExpenseAuthorizationId", @readonly = "readonly " })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-5">
                                <button class="btn btn-primary" id="btnProcess">Guardar</button>
                                <a class="btn btn-primary" id="btnVolver">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="confirmModal" class="modal fade" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Guardar Concepto</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <h3>¿Desea guardar la solicitud de compra?</h3>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="btnProcess" class="btn btn-primary">Aceptar</button>
                                <button type="button" data-dismiss="modal" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="adjuntarModal" class="modal fade" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Action("GetSavedFilesBySpending", "Spending", new { SpendingId = @ViewBag.SpendingId })
</div>
<script type="text/javascript">
    var PromoAplicada;
    $(document).ready(function () {


        $("#ddlProvider").on('change', function () {
            if ($('#ILetter').val() == "") {
                var param = new Object;
                param.providerId = $('#ddlProvider').val();
                CallBackGet(function (data) {
                    $("#articlesTableDiv").html(data);
                    if ($('#IvaPositionInt').val() == "1") {
                        $('#INet').attr('disabled', true);
                        var neto = ($('#IIVA21').val() / 0.21) + ($('#IIVA105').val() / 0.105) + ($('#IIVA22').val() / 0.27) + ($('#IIVA5').val() / 0.05) + ($('#IIVA25').val() / 0.0025)
                        $('#INet').val(neto);
                        $('#IExempt').attr('disabled', false);
                        $('#IIVA21').attr('disabled', false);
                        $('#IIVA105').attr('disabled', false);
                        $('#IIVA22').attr('disabled', false);
                        $('#IIVA5').attr('disabled', false);
                        $('#IIVA25').attr('disabled', false);
                    }
                    else if ($('#IvaPositionInt').val() == "2") {
                        $('#IExempt').attr('disabled', true);
                        $('#IExempt').val("");
                        $('#IIVA21').attr('disabled', true);
                        $('#IIVA21').val("");
                        $('#IIVA105').attr('disabled', true);
                        $('#IIVA105').val("");
                        $('#IIVA22').attr('disabled', true);
                        $('#IIVA22').val("");
                        $('#IIVA5').attr('disabled', true);
                        $('#IIVA5').val("");
                        $('#IIVA25').attr('disabled', true);
                        $('#IIVA25').val("");
                        $('#INet').attr('disabled', false);
                    }
                    else if ($('#IvaPositionInt').val() == "3") {
                        $('#INet').attr('disabled', true);
                        $('#INet').val("");
                        $('#IIVA21').attr('disabled', true);
                        $('#IIVA21').val("");
                        $('#IIVA105').attr('disabled', true);
                        $('#IIVA105').val("");
                        $('#IIVA22').attr('disabled', true);
                        $('#IIVA22').val("");
                        $('#IIVA5').attr('disabled', true);
                        $('#IIVA5').val("");
                        $('#IIVA25').attr('disabled', true);
                        $('#IIVA25').val("");
                        $('#IExempt').attr('disabled', false);
                    }
                }, "/Spending/infoByProvider", param)
            }
        });


        if ($('#ILetter').val() != '')
            $('#Receipt').attr('readonly', true);

        $('#adjuntar').click(function (event) {
            var myDropzone = new Dropzone("form#uploadFiles", {
                url: '/Spending/LoadFile', addRemoveLinks: true, maxFilesize: 5, init: function () {
                    this.on("removedfile", function (file) {
                        var params = new Object;
                        params.fileDelete = file.name;
                        CallSericeAjax(function (data) {
                            //SuccessMessage();
                        }, "/Spending/RemoveFiles", params, 'POST');
                    });
                }
            });
        });


        if ($('#chkCurrentAccount').is(':checked') == true) {
            $('#PaymentMethodDiv').hide();
            if ($('#chkImputed').is(':checked') == false)
                $('#ExecutionDate').attr("disabled", "disabled");
            else
                $('#ExecutionDate').removeAttr("disabled", "disabled");
            $('#PaymentMethodsDiv').hide();
            $('#CurrentAccountDiv').show();
        } else {
            $('#CurrentAccountDiv').hide();
            $('#ExecutionDate').removeAttr("disabled", "disabled");
            $('#PaymentMethodsDiv').show();
            $('#PaymentMethodDiv').show();
        }

        if ($('#PurchaseRequestId').val() != "") {
            $("#btnAddArticles").attr("disabled", "disabled");
        }

        if ($('#ScheduledExpenseId').val() != "") {
            $("#btnAddArticles").attr("disabled", "disabled");
            $("#btnUpdateArticles").attr("disabled", "disabled");
        }

        if ($('#ExpenseAuthorizationId').val() != "") {
            $("#btnAddArticles").attr("disabled", "disabled");
        }

        $('select').multiselect();

        $("#ExecutionDate").datepicker();

        $("#ExpirationDate").datepicker();


        CallBackGet(function (data) {
            $("#articlesTableDiv").html(data);

            if ($('#IvaPositionInt').val() == "1") {
                $('#INet').attr('disabled', true);
                var neto = ($('#IIVA21').val() / 0.21) + ($('#IIVA105').val() / 0.105) + ($('#IIVA22').val() / 0.27) + ($('#IIVA5').val() / 0.05) + ($('#IIVA25').val() / 0.0025)
                $('#INet').val(neto);
                $('#IExempt').attr('disabled', false);
                $('#IIVA21').attr('disabled', false);
                $('#IIVA105').attr('disabled', false);
                $('#IIVA22').attr('disabled', false);
                $('#IIVA5').attr('disabled', false);
                $('#IIVA25').attr('disabled', false);
            }
            else if ($('#IvaPositionInt').val() == "2") {
                $('#IExempt').attr('disabled', true);
                $('#IExempt').val("");
                $('#IIVA21').attr('disabled', true);
                $('#IIVA21').val("");
                $('#IIVA105').attr('disabled', true);
                $('#IIVA105').val("");
                $('#IIVA22').attr('disabled', true);
                $('#IIVA22').val("");
                $('#IIVA5').attr('disabled', true);
                $('#IIVA5').val("");
                $('#IIVA25').attr('disabled', true);
                $('#IIVA25').val("");
                $('#INet').attr('disabled', false);
            }
            else if ($('#IvaPositionInt').val() == "3") {
                $('#INet').attr('disabled', true);
                $('#INet').val("");
                $('#IIVA21').attr('disabled', true);
                $('#IIVA21').val("");
                $('#IIVA105').attr('disabled', true);
                $('#IIVA105').val("");
                $('#IIVA22').attr('disabled', true);
                $('#IIVA22').val("");
                $('#IIVA5').attr('disabled', true);
                $('#IIVA5').val("");
                $('#IIVA25').attr('disabled', true);
                $('#IIVA25').val("");
                $('#IExempt').attr('disabled', false);
            }
        }, "/Spending/IndexArticles");




        $('#btnVolver').click(function (event) {
            CallBackGet(function (data) {
                $("#dashboard").html(data);
            }, "/Spending/Index", null)
        });

    });


</script>
