<!-- VISTA: Maintenance/ContractPaperCreate.cshtml -->
@using Resources
@model Multigroup.Portal.Models.Administration.EmployeeVm
<!-- FIN TITULO-->
<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>
                    <span class="caption-subject bold uppercase">Crear Empleado</span>
                </div>
                <div class="actions">
                    <a class="btn btn-default" data-toggle="modal" data-target="#myModal">Buscar Empleado</a>
                </div>
            </div>
            @using (Ajax.BeginForm("Create", "Employee", new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "OnStart",
                OnComplete = "OnComplete",
                OnFailure = "FailMessage",
                OnSuccess = "SuccessMessage",
                UpdateTargetId = "dashboard"
            }))
            {
            @Html.AntiForgeryToken()
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">Nombre:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">DNI:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Document, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Document, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">Telefono:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Telephone, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">Mail:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-4">Tipo Empleado:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.ddlProviderType.SelectedItem, Model.ddlProviderType.ListItems, new { @id = "ddlProviderType", @size = 2 })
                                </div>
                            </div>
                        </div>
                        <div class="myClass" >
                            <div class="form-group">
                                <label class="control-label col-md-4">UserId:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.UserId, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-12">Comentarios:</label>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Commentary, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Commentary, string.Empty, new { @class = "validate-error" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5">
                            <button class="btn btn-primary" id="btnProcess">Guardar</button>
                            <button type="button" class="btn default" id="btnCancel">Volver</button>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="portlet portlet-sortable-empty">
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cargar Empleado</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">N de documento:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="modalDocument" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnAddEmployee">Cargar</button>
            </div>
        </div>

    </div>
</div>
<!-- Note the missing multiple attribute! -->
<script type="text/javascript">
    $(document).ready(function () {

        $(document).ready(function () {
            $(".myClass").css("display", "none");
        });

        $('select').multiselect();

        $('#btnCancel').click(function (event) {
            CallBackGet(function (data) {
                $("#dashboard").html(data);
                 
            }, "/Employee/Index", null)
        });
    });


    $('#btnAddEmployee').click(function (event) {
        CallSericeAjax(function (customer) {
            $('#Name').val(customer.Name);
            $('#Name').attr('disabled');
            $('#Document').val(customer.Document);
            $('#Document').attr('disabled');
            $('#ddlProviderType option[value=' + customer.ddlProviderType.SelectedItem + ']').prop('selected', 'selected');
            $('#Email').val(customer.Email);
            $('#Email').attr('disabled');
            $('#UserId').val(customer.UserId);
            $('#UserId').attr('disabled');
            
            $('#myModal').modal('hide');
            $('select').multiselect('refresh');
        }, "/Employee/GetByDocumentNumber?DocumentNumber=" + $('#modalDocument').val(), null, 'GET')
    });
</script>




