@model Multigroup.Portal.Models.Administration.CashCycleTransferVm
<div class="filter-container">
</div>

<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-laptop"></i>
                    <span class="caption-subject bold uppercase">Transpasos entre Medios de Pago</span>
                </div>
                <div class="actions">
                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
                    </a>
                </div>
            </div>
            @using (Ajax.BeginForm("CreateTransferPM", "CashCycle", new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "OnStart",
                OnComplete = "OnComplete",
                OnFailure = "FailMessage",
                OnSuccess = "SuccessReturn"
            }))
            {
                @Html.AntiForgeryToken()
        <div class="portlet-body form">
            <div class="row" id="FormaPagoOrigenDiv">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Forma de Pago Origen:</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ddlOriginPaymentMethods.SelectedItem, Model.ddlOriginPaymentMethods.ListItems, new { @id = "ddlOriginPaymentMethods", @size = 2 })
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-4" id="CajaOrigenDiv" style="display: none">
                    <div class="form-group">
                        <label class="control-label col-md-3">Caja Origen:</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ddlOriginCashier.SelectedItem, Model.ddlOriginCashier.ListItems, new { @id = "ddlOriginCashier", @size = 2 })
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row" id="FormaPagoDestinoDiv">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Forma de Pago Destino:</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ddlDestinyPaymentMethods.SelectedItem, Model.ddlDestinyPaymentMethods.ListItems, new { @id = "ddlDestinyPaymentMethods", @size = 2 })
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row" id="CajaDestinoDiv" style="display: none">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Caja Destino:</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ddlDestinyCashier.SelectedItem, Model.ddlDestinyCashier.ListItems, new { @id = "ddlDestinyCashier", @size = 2 })
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row" id="MontoDiv">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Monto:</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @type = "number" })
                            @Html.ValidationMessageFor(model => model.Amount, string.Empty, new { @class = "validate-error" })
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row" style="display: none">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Origen:</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Origin, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Destino:</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Destiny, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-12">Comentario:</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Commentary, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <!--/span-->
            <br />
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-5">
                        <button class="btn btn-primary" id="btnOpenModal" data-toggle="modal" data-target="#confirmModal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
                <div id="confirmModal" class="modal fade" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Transferir Monto</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <h3>¿Desea transferir el monto de caja?</h3>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="btnProcess" class="btn btn-primary">Aceptar</button>
                                <button type="button" data-dismiss="modal" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        if ($('#Destiny').val() == "1") {
            $('#CajaDestinoDiv').show();
        }

        if ($('#Origin').val() == "1") {
            $('#CajaOrigenDiv').show();
        }

        $('select').multiselect();

        $('#ddlOriginPaymentMethods').change(function () {
            $('select').multiselect();
            var param = new Object;
            param.OriginCashierId = $('#ddlOriginCashier').val();
            param.OriginPaymentMethodId = $('#ddlOriginPaymentMethods').val();
            param.DestinyCashierId = $('#ddlDestinyCashier').val();
            param.DestinyPaymentMethodId = $('#ddlDestinyPaymentMethods').val();
            param.Commentary = $('#Commentary').val();
            param.Amount = $('#Amount').val();

            if ($('#ddlOriginPaymentMethods').val() != "") {
                CallBackGet(function (data) {
                    $("#dashboard").html(data);
                }, "/CashCycle/GetCashiers", param);
            }
        });

        $('#ddlDestinyPaymentMethods').change(function () {
            $('select').multiselect();
            var param = new Object;
            param.OriginCashierId = $('#ddlOriginCashier').val();
            param.OriginPaymentMethodId = $('#ddlOriginPaymentMethods').val();
            param.DestinyCashierId = $('#ddlDestinyCashier').val();
            param.DestinyPaymentMethodId = $('#ddlDestinyPaymentMethods').val();
            param.Commentary = $('#Commentary').val();
            param.Amount = $('#Amount').val();

            if ($('#ddlDestinyPaymentMethods').val() != "") {
                CallBackGet(function (data) {
                    $("#dashboard").html(data);
                }, "/CashCycle/GetCashiers", param);
            }
        });
    });

function SuccessReturn() {
    $('#confirmModal').modal('hide');
    CallBackGet(function (data) {
        $("#dashboard").html(data);
    }, "/CashCycle/TransferPM", null)
    SuccessMessage();
}

</script>
