@model Multigroup.Portal.Models.Administration.SalaryAllocationVm
<div class="filter-container">
</div>

<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-laptop"></i>
                    <span class="caption-subject bold uppercase">Editar Gasto Programado</span>
                </div>
                <div class="actions">
                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
                    </a>
                </div>
            </div>
            @using (Ajax.BeginForm("Edit", "SalaryAllocation", new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "OnStart",
                OnComplete = "OnComplete",
                OnFailure = "FailMessage",
                OnSuccess = "SuccessMessage",
                UpdateTargetId = "dashboard"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SalaryAllocationId)
        <div class="portlet-body form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Empleado:</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ddlProvider.SelectedItem, Model.ddlProvider.ListItems, new { @id = "ddlProvider", @size = 2 })
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Descripción:</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "validate-error" })
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Monto</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @id = "Amount", @type = "number" })
                            @Html.ValidationMessageFor(model => model.Amount, string.Empty, new { @class = "validate-error" })
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Fecha Inicio:</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control form-control-inline date-picker", @type = "text", @placeholder = "dd/mm/aaaa" })
                            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "validate-error" })
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Fecha Fin:</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control form-control-inline date-picker", @type = "text", @placeholder = "dd/mm/aaaa" })
                            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "validate-error" })
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-4" id="AuthorizedUserDiv">
                    <div class="form-group">
                        <label class="control-label col-md-3">Autoriza:</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.ddlUserAuthorized.SelectedItem, Model.ddlUserAuthorized.ListItems, new { @id = "ddlUserAuthorized", @size = 2 })
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-3" style="display: none" id="AuthorizedDiv">
                    <div class="form-group">
                        <label class="control-label col-md-4">Mensual:</label>
                        <div class="col-md-4">
                            @Html.CheckBoxFor(model => model.IsAuthorized)
                        </div>
                    </div>
                </div>
            </div> 
            <br />
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-5">
                        <button class="btn btn-primary" id="btnProcess">Guardar</button>
                        <a class="btn btn-primary" id="btnVolver">Volver</a>
                    </div>
                </div>
            </div>
        </div>
                <div id="confirmModal" class="modal fade" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Guardar Concepto</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <h3>¿Desea guardar la imputación de Sueldo?</h3>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="btnProcess" class="btn btn-primary">Aceptar</button>
                                <button type="button" data-dismiss="modal" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var PromoAplicada;
    $(document).ready(function () {

        if ($('#IsAuthorized').is(':checked') == true) {
            $('#Amount').attr('readonly', true);
            $('#ddlProvider').attr('readonly', true);
            $('#Description').attr('readonly', true);
            $('#StartDate').attr('readonly', true);
            $('#ddlUserAuthorized').attr('readonly', true);
            $('#AuthorizedUserDiv').hide();
        }
        else {
            $("#StartDate").datepicker();
            
        }      

        $("#EndDate").datepicker(); 
        $('select').multiselect();

        $('#btnVolver').click(function (event) {
            CallBackGet(function (data) {
                $("#dashboard").html(data);
            }, "/SalaryAllocation/Index", null)
        });

    });

</script>
