<!-- VISTA: User/UserList.cshtml -->
@model Multigroup.Portal.Models.Maintenance.BalancePartnerTableVm

<div class="form-group">
    <div class="row">
        <div class="col-md-offset-7">
            <div class="form-group">
                <label class="control-label col-md-4">Saldo:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="amountTxt" />
                </div>
            </div>
        </div>
    </div>
    <table id="tabla_id" class="display table table-bordered table-striped table-condensed flip-content" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
        <thead>
            <tr>
                <th>Tipo Transacción</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BalancePartnerList)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    var Amount = @ViewBag.Total
            $("#amountTxt").val(Amount);

        function formatTableToolsButton(node) {
            $(node).removeClass('DTTT_button');
            $(node).addClass('btn btn-default');
        }
        var table = $('#tabla_id').dataTable({
            "destroy": true,
            "aaSorting": [],
            "bServerSide": false,
            "buttons": [
                { extend: 'copy', text: 'Copiar' },
                'csv',
                'excel',
                'pdf',
                { extend: 'print', text: 'Imprimir' },
            ],
            "lengthMenu": [[10, 50, 200, 500, -1], [10, 50, 200, 500, "Todos"]],
            "dom": 'Blfrtip',
            "sScrollYInner": "100%",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "scrollCollapse": true,
            "bProcessing": false
        });

        $('#tabla_id tbody').unbind("click").on('click', 'tr', function (event) {
            event.stopPropagation();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $("#idTooltipCashCycle1").removeClass('tooltipAai');
                $('#idTooltipCashCycle1').tooltip({
                    container: 'body',
                    title: 'Seleccione un usuario'
                });
                $("#idTooltipAai").removeClass('tooltipAai');
                $('#idTooltipAai').tooltip({
                    container: 'body',
                    title: "Seleccione un cliente"
                });
            }
            else {
                $('#tabla_id tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $("#idTooltipAai").tooltip('destroy');
                $("#btnVer").removeAttr("disabled", "disabled");
                $("#idTooltipCashCycle1").tooltip('destroy');
            }
        });
    });
</script>